/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

.main {
  background-image: url("../public/assets/bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

/* Pump-related styling */
.pump img {
  height: 30rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

#handle {
  position: absolute;
  bottom: 20rem;
  right: 5rem;
  height: 20rem;
  cursor: pointer;
}

#outlet {
  position: absolute;
  bottom: 4rem;
  right: 18rem;
  height: 27rem;
}

/* Balloon-related styling */
.ballon-container {
  height: 10rem;
  width: 10rem;
  position: absolute;

  bottom: 25rem;
  right: 33rem;
}

#ballon {
  height: 100%;
  position: absolute;
}

#alphabet {
  position: absolute;
  left: 1rem;
  height: 80%;
}

.tail {
  position: absolute;
  top: 3rem;
  left: -5rem;
  height: 20rem;
}

/* Repeating balloon elements */
.move {
  height: 10rem;
  width: 10rem;
  position: absolute;
  bottom: 25rem;
  right: 33rem;
  transition: all 5s linear;
  z-index: 9;
}
